body {
	margin: 0;
	padding: 0 100px;
}

header {
	background-color: tomato;
	margin: 10px;
}

header nav {
}

header nav ul {
	display: flex;
}

header nav ul li {
	list-style: none;
	margin: 10px;
}

hr {
	/* border: none; */
	border: 0.5px dashed tomato;
}

main {
	display: flex;
}

section {
	width: 70%;
	background-color: tomato;
	margin: 10px;
	padding: 10px;
}

section h1 {
}

article {
	background-color: lightgoldenrodyellow;
	margin-bottom: 10px;
	padding: 10px;
}

article h2 {
}

article p {
}

aside {
	background-color: tomato;
	width: 30%;
	margin: 10px;
	padding: 10px;
	/* prevents from being sized up by getting padding */
	box-sizing: border-box;
}

footer {
	background-color: tomato;
	margin: 10px;
	padding: 10px;
}

footer address {
}

footer address a {
	display: block;
}
